.wdm_options_table{ float: left;}

.wdm_update_container{float: right;}

.wdm_keyword_results{padding: 10px 0;}

.wdm_exclude_list{margin: 10px 0;}

.wdm_lbl{padding-top: 10px;};#wdm_keyword_meta_id h3.hndle {border:none}